adal==1.2.7
aenum==3.1.17
aiobotocore==3.9.2
aiohappyeyeballs==2.7.1
aiohttp==3.14.4
aiohttp-retry==2.9.1
aioitertools==0.13.0
aiokafka==0.14.0
aiosignal==1.4.0
alabaster==0.7.16
annotated-types==0.8.0
ansible-compat==26.9.0
ansible-core==2.21.5
ansible-pygments==0.1.2
ansible-pylibssh==1.4.0
ansible-runner==2.4.3
anta==1.10.0
anyio==4.15.1
api_object_schema==2.0.0
appdirs==1.4.4
applicationinsights==0.11.10
ara==1.8.0
argcomplete==3.5.3
aristaproto==0.1.5
arrow==1.4.0
asgiref==3.12.1
asn1crypto==1.5.1
async-timeout==5.0.1
asyncssh==2.23.1
attrs==26.1.0
autopage==0.6.0
awxkit==24.6.1
azure-ai-ml==1.31.0
azure-appconfiguration==1.8.0
azure-cli-core==2.75.0
azure-cli-telemetry==1.1.0
azure-common==1.1.28
azure-containerregistry==1.2.0
azure-core==1.38.0
azure-core-tracing-opentelemetry==1.0.0b13
azure-eventhub==5.15.0
azure-identity==1.25.2
azure-keyvault==4.2.0
azure-keyvault-certificates==4.11.3
azure-keyvault-keys==4.11.3
azure-keyvault-secrets==4.11.3
azure-keyvault-securitydomain==1.0.0b1
azure-mgmt-apimanagement==4.0.1
azure-mgmt-appconfiguration==5.0.0
azure-mgmt-authorization==4.0.0
azure-mgmt-automation==1.1.0b4
azure-mgmt-batch==17.3.0
azure-mgmt-cdn==13.1.1
azure-mgmt-cognitiveservices==13.7.0
azure-mgmt-compute==33.0.0
azure-mgmt-containerinstance==10.1.0
azure-mgmt-containerregistry==10.3.0
azure-mgmt-containerservice==32.1.0
azure-mgmt-core==1.6.0
azure-mgmt-cosmosdb==10.0.0b3
azure-mgmt-databricks==2.0.0
azure-mgmt-datafactory==9.0.0
azure-mgmt-devtestlabs==10.0.0b2
azure-mgmt-dns==8.1.0
azure-mgmt-eventgrid==10.4.0
azure-mgmt-eventhub==11.1.0
azure-mgmt-hdinsight==9.1.0b1
azure-mgmt-hybridcompute==9.0.0
azure-mgmt-iothub==3.0.0
azure-mgmt-keyvault==14.0.1
azure-mgmt-loganalytics==13.0.0b7
azure-mgmt-managedservices==7.0.0b2
azure-mgmt-managementgroups==1.1.0b2
azure-mgmt-marketplaceordering==1.2.0b2
azure-mgmt-monitor==6.0.2
azure-mgmt-mysqlflexibleservers==1.0.0
azure-mgmt-network==28.0.0
azure-mgmt-notificationhubs==8.1.0b1
azure-mgmt-nspkg==3.0.2
azure-mgmt-postgresqlflexibleservers==2.0.0
azure-mgmt-privatedns==1.2.0
azure-mgmt-rdbms==10.2.0b17
azure-mgmt-recoveryservices==3.0.0
azure-mgmt-recoveryservicesbackup==9.1.0
azure-mgmt-redis==14.4.0
azure-mgmt-resource==23.2.0
azure-mgmt-resourcegraph==8.1.0b3
azure-mgmt-resourcehealth==1.0.0b6
azure-mgmt-search==9.2.0b2
azure-mgmt-servicebus==8.2.1
azure-mgmt-sql==4.0.0b19
azure-mgmt-storage==25.0.0
azure-mgmt-trafficmanager==1.1.0
azure-mgmt-web==7.3.1
azure-monitor-opentelemetry==1.8.10
azure-monitor-opentelemetry-exporter==1.0.0b57
azure-nspkg==3.0.2
azure-servicebus==7.14.2
azure-storage-blob==12.23.0b1
azure-storage-file-datalake==12.16.0
azure-storage-file-share==12.24.0
babel==2.18.0
backports.zstd==1.7.0
bcrypt==5.0.0
bitmath==2.1.1
boto==2.49.0
boto3==1.43.106
botocore==1.43.106
bracex==3.0.1
cachebox==5.2.3
cachez==0.1.2
capacity==1.3.14
catalystcentersdk==3.1.6.0.1
certifi==2026.7.22
cffi==2.1.1
chardet==5.2.0
charset-normalizer==3.5.2
circuitbreaker==2.1.3
ciscoisesdk==2.4.6
click==8.5.0
clickhouse-driver==0.2.11
cliff==4.16.0
cmd2==4.2.4
colorama==0.4.6
confetti==2.5.3
configparser==7.2.0
crc32c==2.8
crowdstrike-falconpy==1.6.4
cryptography==47.0.0
cs==5.1.0
cvprac==2.3.0
DateTime==6.0
debtcollector==3.1.0
decorator==5.3.1
deepdiff==9.1.0
deepmerge==3.0.1
Deprecated==3.0.0
distlib==0.4.3
distro==1.9.0
dnacentersdk==2.11.4
dnspython==2.8.0
docker==7.2.0
docutils==0.17.1
dogpile.cache==1.5.0
dpapi-ng==0.2.0
dpath==2.2.0
dumb-init==1.2.5
durationpy==0.11
enrich==1.2.7
enum34==1.1.10
fastavro==1.13.0
fastjsonschema==2.22.2
flatdict==4.1.0
flux==1.4.0
frozenlist==1.8.0
future==1.0.0
google-api-core==2.30.3
google-auth==2.60.0
google-cloud-core==2.8.0
google-cloud-storage==3.16.0
google-crc32c==1.9.0
google-resumable-media==2.11.0
googleapis-common-protos==1.75.5
gossip==2.5.0
grpcio==1.84.0
grpclib==0.4.9
gssapi==1.12.0
h11==0.16.0
h2==4.4.1
hpack==4.2.0
hpeOneView==11.4.0
hpICsp==1.0.2
httpcore==1.0.9
httpx==0.28.1
humanfriendly==10.0
hvac==2.4.0
hyperframe==6.1.0
icdiff==1.9.1
idna==3.20
imagesize==2.0.1
infi.dtypes.iqn==0.4.0
infi.dtypes.nqn==0.1.0
infi.dtypes.wwn==0.2.0
infinisdk==289.1.4
infoblox-client==0.6.2
iniconfig==2.3.1
inmanage==1.4.2
inspursmsdk==2.4.0
invoke==3.0.3
ipaddress==1.0.23
isilon-sdk==0.7.0
iso8601==2.1.0
isodate==0.7.2
jc==1.26.0
Jinja2==3.1.6
jmespath==1.1.0
jpype1==1.7.1
jsnapy==1.3.8
jsonpatch==1.33
jsonpath-ng==1.9.1
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
junos-eznc==2.8.2
jwcrypto==1.5.8
jxmlease==1.0.3
kafka-python-ng==2.2.3
keystoneauth1==5.17.0
knack==0.11.0
krb5==0.10.0
ksmanage==1.0.0
kubernetes==37.0.0
librouteros==4.2.2
linode_api4==5.47.0
lockfile==0.12.2
Logbook==1.10.1
logdna==1.18.12
lxml==6.1.3
markdown-it-py==4.2.0
MarkupSafe==3.0.4
marshmallow==3.26.2
mdurl==0.1.2
meraki==4.5.0
microsoft-kiota-abstractions==1.14.2
microsoft-kiota-authentication-azure==1.14.2
microsoft-kiota-http==1.14.2
microsoft-kiota-serialization-form==1.14.2
microsoft-kiota-serialization-json==1.14.2
microsoft-kiota-serialization-multipart==1.14.2
microsoft-kiota-serialization-text==1.14.2
microsoft-security-utilities-secret-masker==1.0.0b4
mitba==1.1.1
molecule==26.9.0
molecule-plugins==26.9.28
more-itertools==11.1.0
msal==1.33.0b1
msal-extensions==1.2.0
msgpack==1.2.3
msgraph-core==1.5.2
msgraph-sdk==1.6.0
msrest==0.7.1
msrestazure==0.6.4.post1
multi_key_dict==2.0.3
multidict==6.9.1
munch==4.0.0
nc-dnsapi==0.1.5
ncclient==0.7.0
numpy==2.5.3
oauthlib==4.0.0
objectpath==0.6.1
oci==2.187.2
omsdk==1.2.519
openstacksdk==4.20.0
opentelemetry-api==1.44.0
opentelemetry-instrumentation==0.65b0
opentelemetry-instrumentation-asgi==0.65b0
opentelemetry-instrumentation-dbapi==0.65b0
opentelemetry-instrumentation-django==0.65b0
opentelemetry-instrumentation-fastapi==0.65b0
opentelemetry-instrumentation-flask==0.65b0
opentelemetry-instrumentation-httpx==0.65b0
opentelemetry-instrumentation-logging==0.65b0
opentelemetry-instrumentation-psycopg2==0.65b0
opentelemetry-instrumentation-requests==0.65b0
opentelemetry-instrumentation-urllib==0.65b0
opentelemetry-instrumentation-urllib3==0.65b0
opentelemetry-instrumentation-wsgi==0.65b0
opentelemetry-resource-detector-azure==0.3.0
opentelemetry-sdk==1.44.0
opentelemetry-semantic-conventions==0.65b0
opentelemetry-util-http==0.65b0
oras==0.2.43
ordereddict==1.1
orderly-set==5.5.0
os-service-types==1.9.0
oslo.config==10.7.0
oslo.context==6.5.0
oslo.i18n==6.9.0
oslo.log==8.3.2
oslo.serialization==5.11.0
oslo.utils==10.2.0
ovirt-engine-sdk-python==4.6.3
ovirt-imageio==2.5.1
packaging==26.3
pact==1.12.0
pan-os-python==1.13.1
pan-python==0.17.0
pandas==3.0.6
panos-upgrade-assurance==2.1.1
paramiko==5.0.0
passlib==1.7.4
pbr==7.0.3
pexpect==4.9.0
pkginfo==1.13
platformdirs==4.12.3
pluggy==1.6.0
polling==0.3.2
portalocker==2.10.1
prettytable==3.18.0
prompt_toolkit==3.0.53
propcache==0.5.4
proto-plus==1.29.0
protobuf==7.36.2
proxmoxer==2.3.0
psutil==7.2.2
psycopg==3.3.6
psycopg-binary==3.3.6
psycopg-pool==3.3.3
psycopg2-binary==2.9.13
ptyprocess==0.7.0
py-consul==1.7.1
py-deviceid==0.1.1
py-pure-client==1.95.0
pyang==2.7.1
pyaoscx==2.6.0
pyasn1==0.6.4
pyasn1_modules==0.4.2
pyavd==6.4.0
pyavd-utils==0.0.7
pycdlib==1.21.0
pycountry==26.2.16
pycparser==3.0
pycryptodome==3.24.0
pycurl==7.48.0
pydantic==2.13.5
pydantic-extra-types==2.11.1
pydantic-settings==2.15.0
pydantic_core==2.46.5
pydash==8.1.0
pyghmi==1.6.19
PyGithub==2.10.0
Pygments==2.21.0
PyJWT==2.15.1
pykerberos==1.2.4
PyMySQL==1.2.3
PyNaCl==1.6.2
pynetbox==7.8.0
pyOpenSSL==26.2.0
pyparsing==3.3.3
pyperclip==1.11.0
PyPowerFlex==2.0.1
PyPowerStore==3.4.2.0
pypsexec==0.3.0
pypsrp==0.9.1
pyserial==3.5
pysnmp==7.1.30
pysnmp-mibs==0.1.6
PySocks==1.7.1
pyspnego==0.12.4
pytest==9.1.1
pytest-mock==3.16.0
python-box==7.4.1
python-daemon==3.1.2
python-dotenv==1.2.4
python-gitlab==8.6.0
python-jenkins==1.8.3
python-ldap==3.4.8
python-logstash==0.4.8
python-memcached==1.62
python-nomad==2.1.0
python-pkcs11==0.9.4
python-socks==3.1.1
python-vagrant==1.0.0
pytz==2026.5
pyu4v==10.2.0.3
pyvmomi==9.1.1.0
pywinrm==0.5.0
PyYAML==6.0.3
redfish==3.4.0
redis==8.1.0
referencing==0.37.0
requests==2.34.2
requests-credssp==2.0.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
requests-unixsocket==0.4.1
requests_ntlm==1.3.0
resolvelib==1.2.1
responses==0.26.3
retryz==0.1.9
rfc3986==2.0.0
rich==15.0.0
rich-argparse==1.8.0
rpds-py==2026.9.1
ruamel.yaml==0.19.1
ruamel.yaml.clib==0.2.15
s3transfer==0.19.2
sansldap==0.1.0
scp==0.16.2
sentinels==1.1.1
setuptools==84.0.0
simplejson==4.2.0
six==1.17.0
smbprotocol==1.17.0
snowballstemmer==3.1.1
solidfire-sdk-python==12.3.0.203
Sphinx==5.3.0
sphinx-ansible-theme==0.10.4
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlglot==30.21.0
std-uritemplate==2.0.12
stevedore==5.9.1
storage-interfaces==1.0.5
storops==1.2.12
strictyaml==1.7.3
subprocess-tee==0.4.2
tabulate==0.10.0
textfsm==2.1.0
toml==0.10.2
tqdm==4.70.1
transitions==0.9.3
treelib==1.8.0
ttp==0.10.1
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.5
tzlocal==5.4.4
ucsmsdk==0.9.27
universal-ddi-python-client==0.2.0
urllib3==2.8.0
URLObject==3.0.0
vcf-fleet-lcm==9.1.1.0
vcf-installer==9.1.1.0
vcf-log-mgmt==9.1.1.0
vcf-nsx==9.1.1.0
vcf-operations==9.1.1.0
vcf-operations-networks==9.1.1.0
vcf-sddc-lcm==9.1.1.0
vcf-sdk==9.1.1.0
vcf-vsphere-utils==9.1.1.0
vintage==0.4.1
vmware-sddc-manager==9.1.1.0
vmware-vapi-common-client==9.1.1.0
vmware-vapi-runtime==9.1.1.0
vmware-vcenter==9.1.1.0
vmware-vsan-data-protection==9.1.1.0
waiting==1.5.0
watchdog==6.0.0
wcmatch==11.0.1
wcwidth==0.9.2
websocket-client==1.9.2
wheel==0.48.0
wrapt==2.5.0
xmljson==0.2.1
xmltodict==1.0.4
xxhash==4.0.1
yamlloader==1.6.0
yarl==1.25.1
zope.interface==8.6
zscaler-sdk-python==1.11.2
